# ///////////////////////////////////////////////////////////////
# MKDOCS CONFIGURATION
# Documentation site for ezqt_widgets
# ///////////////////////////////////////////////////////////////

site_name: EzQt Widgets Documentation
site_description: A collection of custom and reusable Qt widgets for PySide6
site_url: https://neuraaak.github.io/ezqt-widgets/
repo_url: https://github.com/neuraaak/ezqt_widgets
repo_name: neuraaak/ezqt_widgets

# ///////////////////////////////////////////////////////////////
# THEME
# ///////////////////////////////////////////////////////////////

theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github

# ///////////////////////////////////////////////////////////////
# NAVIGATION
# ///////////////////////////////////////////////////////////////

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API Reference:
      - api/index.md
      - Button: api/button.md
      - Input: api/input.md
      - Label: api/label.md
      - Misc: api/misc.md
  - User Guides:
      - guides/index.md
      - QSS Style Guide: guides/style-guide.md
      - Development: guides/development.md
      - Testing: guides/testing.md
  - Examples: examples/index.md
  - CLI: cli/index.md

# ///////////////////////////////////////////////////////////////
# PLUGINS
# ///////////////////////////////////////////////////////////////

plugins:
  - search
  - section-index
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            docstring_section_style: spacy
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_signature_annotations: true
            separate_signature: true
            signature_crossrefs: true
            members_order: source
            merge_init_into_class: true
            filters:
              - "!^_"
              - "^__init__$"

# ///////////////////////////////////////////////////////////////
# MARKDOWN EXTENSIONS
# ///////////////////////////////////////////////////////////////

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html
  - def_list
  - footnotes
  - tables
  - toc:
      permalink: true
      permalink_title: Anchor link to this section
      toc_depth: 3

# ///////////////////////////////////////////////////////////////
# EXTRA
# ///////////////////////////////////////////////////////////////

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/neuraaak/ezqt_widgets
      name: GitHub Repository
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/ezqt-widgets/
      name: PyPI Package
extra_css:
  - stylesheets/extra.css

copyright: >
  Copyright &copy; 2026 Neuraaak -
  <a href="https://github.com/neuraaak/ezqt_widgets/blob/main/LICENSE">MIT License</a>
